#RewriteEngine On

# eliminate www
#RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
#RewriteRule ^(.*)$ https://%1/$1 [R=301,L]

# force SSL
#RewriteCond %{HTTPS} !=on
#RewriteRule .* https://%{SERVER_NAME}/%1 [R,L]

<IfModule mod_rewrite.c>
# Turn on URL rewriting
RewriteEngine On

# If your website begins from a folder e.g localhost/my_project then 
# you have to change it to: RewriteBase /my_project/
# If your site begins from the root e.g. example.local/ then
# let it as it is
RewriteBase /

# Protect application and system files from being viewed when the index.php is missing
RewriteCond $1 ^(application|system|private|logs)

# Rewrite to index.php/access_denied/URL
RewriteRule ^(.*)$ index.php/access_denied/$1 [PT,L]

# Allow these directories and files to be displayed directly:
RewriteCond $1 ^(index\.php|robots\.txt|favicon\.ico|public|assets|se/assets|pe/assets|css|js|images|temp|sitemap\.xml|robots\.txt|rss\.xml)

# No rewriting
RewriteRule ^(.*)$ - [PT,L]

# Rewrite to index.php/URL
RewriteRule ^(.*)$ index.php/$1 [PT,L]

#for ssl
#RewriteCond %{HTTPS} !on
#RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}

#hide files
RedirectMatch 403 /\.DS_Store
RedirectMatch 403 /\.git
RedirectMatch 403 /\.git/config
RedirectMatch 403 /\.gitignore
RedirectMatch 403 composer.json
RedirectMatch 403 .htaccess
RedirectMatch 403 config
RedirectMatch 403 system
RedirectMatch 403 application 

</IfModule>


